@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

h1, h2, h3, h4 {
  font-family: "Kiona", "Helvetica Neue", "Montserrat", sans-serif;
  font-weight: bold;
}

p {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

.fa-solid,
.fa-brands {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: rgb(238, 124, 179);
  transition: all 0.3s ease-in-out;
}

.btnp {
  position: relative;
  width: 100px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Kiona", sans-serif;
  font-weight: bold;
  background-color: #d9d9d9;
  border: #f1c3d9 solid 5px;
  border-radius: 3rem;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.btnp span {
  position: relative;
  z-index: 1;
  transition: all 0.1s ease-out;
}
.btnp:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}
.btnp::after {
  position: absolute;
  content: "";
  background-color: #f1c3d9;
  border-radius: 0 0 75px 75px;
  height: 200%;
  width: 100%;
  top: -80px;
  transition: all 0.3s ease-in-out;
}
.btnp:hover::after {
  transform: scale(3);
}

.navbar {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.navbar .navbar__logo {
  transition: all 0.3s ease-in;
}
.navbar .navbar__logo img {
  width: 7rem;
}
.navbar .navbar__logo:hover {
  animation: pulse 1s infinite;
}
.navbar .navbar__nav-item:hover {
  animation: pulse 1s infinite;
  transition: all 0.3s ease-in;
}

.hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.hero .hero__down-sign .fa-chevron-down {
  margin-bottom: 1rem;
  animation: shakeY 10s infinite;
}

.hero-main {
  height: 100vh;
}

.hero-sec {
  height: 50vh;
}

.filosophy__dany-img {
  max-width: 400px;
}

.clients {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/parallax-back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fa-quote-left {
  width: 100%;
  text-align: start;
  color: #d9d9d9;
}

.fa-quote-right {
  width: 100%;
  text-align: end;
  color: #d9d9d9;
}

.about-me__cartoon-img {
  max-width: 400px;
}

.about-me__interest {
  background-color: #f1c3d9;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.about-me__progress-bar {
  position: relative;
  border: 3px solid #d9d9d9;
  z-index: 1;
}
.about-me__progress-bar .about-me__progress-cont-90 {
  width: 90%;
  height: 100%;
  background-color: #f1c3d9;
}
.about-me__progress-bar .about-me__progress-cont-80 {
  width: 80%;
  height: 100%;
  background-color: #f1c3d9;
}
.about-me__progress-bar .about-me__progress-cont-75 {
  width: 75%;
  height: 100%;
  background-color: #f1c3d9;
}
.about-me__progress-bar .about-me__progress-cont-60 {
  width: 60%;
  height: 100%;
  background-color: #f1c3d9;
}

.projects {
  max-width: 1900px;
}
.projects .projects__project {
  cursor: pointer;
}
@media (hover) {
  .projects .projects__project .projects__project-data {
    top: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 50%);
  }
  .projects .projects__project:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in;
  }
  .projects .projects__project:hover .projects__project-data {
    top: 0;
    transition: all 0.3s ease-in 0.3s;
  }
}
.projects .projects__project .projects__project-data {
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 50%);
}

.projects__project--1 {
  overflow: hidden;
  background: url(../img/projects-photos/baño1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__project--2 {
  overflow: hidden;
  background: url(../img/projects-photos/baño2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__project--3 {
  overflow: hidden;
  background: url(../img/projects-photos/cocina1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__project--4 {
  overflow: hidden;
  background: url(../img/projects-photos/patio1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__project--5 {
  overflow: hidden;
  background: url(../img/projects-photos/dormi1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__project--6 {
  overflow: hidden;
  background: url(../img/projects-photos/dormi2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__project--7 {
  overflow: hidden;
  background: url(../img/projects-photos/dormi3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__project--8 {
  overflow: hidden;
  background: url(../img/projects-photos/dormi4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__project--9 {
  overflow: hidden;
  background: url(../img/projects-photos/living1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__project--10 {
  overflow: hidden;
  background: url(../img/projects-photos/living2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__project--11 {
  overflow: hidden;
  background: url(../img/projects-photos/living3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__project--12 {
  overflow: hidden;
  background: url(../img/projects-photos/living4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__project--13 {
  overflow: hidden;
  background: url(../img/projects-photos/ofic1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__project--14 {
  overflow: hidden;
  background: url(../img/projects-photos/ofic2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__project--15 {
  overflow: hidden;
  background: url(../img/projects-photos/ofic3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__project--16 {
  overflow: hidden;
  background: url(../img/projects-photos/ofic4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__project--17 {
  overflow: hidden;
  background: url(../img/projects-photos/living5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__project--18 {
  overflow: hidden;
  background: url(../img/projects-photos/living6.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__project--19 {
  overflow: hidden;
  background: url(../img/projects-photos/living7.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__project--20 {
  overflow: hidden;
  background: url(../img/projects-photos/dormi5.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-sm {
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.3);
}
.footer-sm .container::after {
  content: "";
  position: relative;
  bottom: 0;
  left: 0;
  border-top: 1px solid #f1c3d9;
  width: 100%;
  height: 50%;
  margin: 10px 0;
}
.footer-sm .fa-chevron-up:hover {
  color: rgb(238, 124, 179);
  animation: shakeY 10s infinite;
}
.footer-sm .footer-sm__icon i:hover {
  animation: pulse 1s infinite;
  transition: all 0.3s ease-in;
}

@media (min-width: 992px) {
  .filosophy,
.how-work {
    height: 80vh;
    display: flex;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
