.btnp input{

    border: none;
    background: none;
    font-family: inherit;
    font-weight: inherit;
    z-index: 1;
    transition: all 0.1s ease-out;
}

.contact__map{

    box-shadow: map-get($shadows, "lat");
    height: 700px;
}