.clients{

    @include div-img("../img/clients-bg.jpg");
}

.clients__test--signature{
    font-style: italic;
}

.fa-quote-left{

    width: 100%;
    text-align: start;
    color: $secondary;
}

.fa-quote-right{
    
    width: 100%;
    text-align: end;
    color: $secondary;
}