.clients{

    background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../img/parallax-back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.clients__test{
    font-weight: lighter;
}

.clients__test--signature{
    @extend .clients__test;
    font-style: italic;
}

.fa-quote-left{

    width: 100%;
    text-align: start;
    color: $secondary;
}

.fa-quote-right{
    
    width: 100%;
    text-align: end;
    color: $secondary;
}