@mixin div-img {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin hero($height, $display) {
    
    height: $height;
    box-shadow: map-get($shadows, "down");

    &::after{
        content: "";
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .hero__title{
        z-index: 1;
    }

    .carousel{
        z-index: -1;
    }

    .hero__down-sign{
        display: $display;
        z-index: 1;
        
        .fa-chevron-down{   
            margin-bottom: 1rem;
            animation: shakeY  10s infinite;
        }
    }
}

@mixin progress($width) {

    width: $width;
    height: 100%;
    background-color: $primary;
}

