.navbar{
    box-shadow: map-get($shadows, "down");
    
    .navbar__logo{
        transition: $transition;
        
        img{
            width: 7rem;
        }
        
        &:hover{
            animation: $anim-pulse;  
        }
    }

    .navbar__nav-item{
        &:hover{
            animation: $anim-pulse;  
            transition: $transition;
        }
    }
}
