.navbar{

    box-shadow: map-get($shadows, "down");
    
    .navbar__logo{

        transition: all 0.3s ease-in;
        
        img{
    
            width: 8rem;
        }
        
        &:hover{

            animation: pulse 1s infinite;  
        }
    }

    .navbar__nav-item{

        &:hover{

            animation: pulse 1s infinite;  
            transition: all 0.3s ease-in;
        }
    }
}
