.projects{

    max-width: 1900px;
    
}

@for $i from 1 through 20 {
    
    .projects__project:nth-child(#{$i}){
        
        cursor: pointer;
        overflow: hidden;
        background: url(../img/projects-photos/project-img-#{$i}.jpg);
        @include div-img;
    }
}
