.about-me__soft-skill{

    .about-me__progress-bar{
    
        position: relative;
        border: 3px solid $secondary;
        z-index: 1;
    }

    @for $i from 4 through 7 {
        
        &:nth-child(#{$i}) .about-me__progress-cont{

            @if $i == 4 {
        
                @include progress(90%);
    
            } @else if $i == 5 {
    
                @include progress(80%);
    
            } @else if $i == 6 {
    
                @include progress(75%);
            
            } @else {
    
                @include progress(60%);
            }
        }
    }
}

