.about-me__cartoon-img{

    max-width: 400px;
}

.about-me__interest{
    background-color: $primary;
    box-shadow: map-get($shadows, "lat");
}

.about-me__soft-skill{

    .about-me__progress-bar{
    
        position: relative;
        border: 3px solid $secondary;
        z-index: 1;
    }

    @for $i from 2 through 5 {
        
        &:nth-child(#{$i}) .about-me__progress-cont{

            @if $i == 2 {
        
                @include progress(90%);
    
            } @else if $i == 3 {
    
                @include progress(80%);
    
            } @else if $i == 4 {
    
                @include progress(75%);
            
            } @else {
    
                @include progress(60%);
            }
        }
    }
}

