$rosa-pick: #f1c3d9;
$rosa-pick-mark: rgb(238, 124, 179);
$gris-pick: #d9d9d9;
$down-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
$up-shadow: 0 -5px 5px rgba(0, 0, 0, 0.3);
$lat-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);  
$title-font: "Kiona", "Helvetica Neue", "Montserrat", sans-serif;
$text-font: "Montserrat", "Helvetica Neue", sans-serif;